{% extends "users/base.html" %}
{% block title %} Домашняя страница {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать, {{user.first_name.title|default:'Гость'}}</h1>
        <p class="lead">
            Конфигуратор ПК создан для подбора необходимых комплектующих для вашей сборки. Здесь вы сможете подобрать для себя нужные компоненты ПК,
            увидеть их изображения и схемы. Авторизовавшись, вы получаете доступ к системе создания сборок, возможность размещать на сайте 
            собственные сборки, а также оставлять отзывы и оценивать посты других пользователей. При несовместимости комплектующих вы увидете
            информационное сообщение с причиной несовпадения. Также, если какая-либо из комплектующих не была обнаружена в нашей базе данных,
            вы можете добавить ее в конфигуратор самостоятельно, указав при этом набор необходимых параметров.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Выйти</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}